[Unit]
Description=hdwx-noaa_wpcsfc
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython surfacebulletin.py $shouldGIS
ExecStop=rsync -ulrH ./output/. $targetDir --exclude=productTypes/ --exclude="*.tmp"
Restart=always
RestartSec=300
RuntimeMaxSec=600
WorkingDirectory=$pathToClone/hdwx-noaa/
User=$myUsername
SyslogIdentifier=hdwx-noaa_wpcsfc

[Install]
WantedBy=hdwx.target