[Unit]
Description=hdwx-noaa_spc
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython spc.py
ExecStop=rsync -ulrH ./output/. $targetDir --exclude=productTypes/ --exclude="*.tmp"
Restart=always
RestartSec=300
RuntimeMaxSec=600
WorkingDirectory=$pathToClone/hdwx-noaa/
User=$myUsername
SyslogIdentifier=hdwx-noaa_spc

[Install]
WantedBy=hdwx.target